<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia</title>
    <link rel="stylesheet" href="../styles/contacto.css">
    <link rel="stylesheet" href="../styles/default.css">
</head>

<body>
    <header>
        <h1>
            <span>Diseño</span>
            <span class="titleBlue">Multimedia</span>
        </h1>
        <div class="links">
            <a href="../index.html">INICIO</a>
            <a href="nosotros.html">NOSOTROS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a class="linkAct" href="">CONTACTO</a>
        </div>
    </header>
    <main>
        <section class="prom">
            <div class="text">
                <p>Subscribete a nuestro boletin</p>
            </div>
            <div class="suscribe">
                <input type="text" name="subsEmail" placeholder="Ingrese el email...">
                <button>Subscribete</button>
            </div>
        </section>
        <section class="content">
            <div class="section1">
                <h2>Contacto</h2>
                <form>
                    <label for="formname">Nombre</label>
                    <input autocomplete="on" name="name" id="formname" placeholder="Ingrese su nombre" type="text">
                    <label for="formemail">Email</label>
                    <input autocomplete="on" name="email" id="formemail" placeholder="Ingrese su email" type="email">
                    <label for="formphone">Telefono</label>
                    <input autocomplete="on" name="phone" id="formphone" placeholder="Ingrese su talefono" type="tel">
                    <label for="formcellPhone">Celular</label>
                    <input autocomplete="on" name="cellPhone" id="formcellPhone" placeholder="Ingrese su celular"
                        type="tel">
                    <label for="formmessage">Mensaje</label>
                    <textarea autocomplete="on" name="message" id="formmessage" cols="70" rows=10"></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <aside>
                <div class="aside articleBlack">
                    <div>
                        <h3>QUE HACEMOS</h3>
                        <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur cupiditate debitis
                            laborum, quos ad. Reprehenderit nesciunt libero ipsa repudiandae architecto quasi cumque
                            eveniet
                            quisquam sunt, aperiam accusantium, eligendi obcaecati!</P>
                    </div>
                </div>
                <div class="map">
                    <img src="../assets/images/mapaGoogle.png" alt="">
                </div>
            </aside>
        </section>
    </main>
    <footer>
        <p>
            Graphel Desarrolo Web, Copyright © 2017
        </p>
    </footer>
</body>

</html>