<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia</title>
    <link rel="stylesheet" href="../styles/nosotros.css">
    <link rel="stylesheet" href="../styles/default.css">
</head>

<body>
    <header>
        <h1>
            <span>Diseño</span>
            <span class="titleBlue">Multimedia</span>
        </h1>
        <div class="links">
            <a href="../index.html">INICIO</a>
            <a class="linkAct" href="">NOSOTROS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </div>
    </header>
    <main>
        <section class="prom">
            <div class="text">
                <p>Subscribete a nuestro boletin</p>
            </div>
            <div class="suscribe">
                <input type="text" name="subsEmail" placeholder="Ingrese el email...">
                <button>Subscribete</button>
            </div>
        </section>
        <section class="content">
            <div>
                <article>
                    <h2>Nosotros</h2>
                </article>
                <article>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, inventore. Deleniti vero
                        laborum repellat incidunt, modi exercitationem voluptatibus iure aperiam quos cum natus
                        consequuntur perspiciatis impedit, recusandae libero placeat explicabo. Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Cumque rerum cupiditate, nam voluptatum sit laboriosam odit
                        ratione ducimus fuga omnis culpa earum reiciendis aperiam saepe, corporis excepturi consectetur
                        aliquam optio.</p>
                </article>
                <article class="articleBlack">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, inventore. Deleniti vero
                        laborum repellat incidunt, modi exercitationem voluptatibus iure aperiam quos cum natus
                        consequuntur perspiciatis impedit, recusandae libero placeat explicabo. Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Cumque rerum cupiditate, nam voluptatum sit laboriosam odit
                        ratione ducimus fuga omnis culpa earum reiciendis aperiam saepe, corporis excepturi consectetur
                        aliquam optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolor excepturi
                        provident. A, illum quia. Sint corrupti ab nam, at cupiditate nisi dolorum quas saepe architecto
                        suscipit perferendis, laborum perspiciatis.</p>
                </article>
                <article class="articleImg"></article>
            </div>
            <aside class="articleBlack">
                <h3>QUE HACEMOS</h3>
                <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur cupiditate debitis
                    laborum, quos ad. Reprehenderit nesciunt libero ipsa repudiandae architecto quasi cumque eveniet
                    quisquam sunt, aperiam accusantium, eligendi obcaecati!</P>
            </aside>
        </section>
    </main>
    <footer>
        <p>
            Graphel Desarrolo Web, Copyright © 2017
        </p>
    </footer>
</body>

</html>