<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Multimedia</title>
    <link rel="stylesheet" href="../styles/servicios.css">
    <link rel="stylesheet" href="../styles/default.css">
</head>

<body>
    <header>
        <h1>
            <span>Diseño</span>
            <span class="titleBlue">Multimedia</span>
        </h1>
        <div class="links">
            <a href="../index.html">INICIO</a>
            <a href="nosotros.html">NOSOTROS</a>
            <a class="linkAct" href="">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
        </div>
    </header>
    <main>
        <section class="prom">
            <div class="text">
                <p>Subscribete a nuestro boletin</p>
            </div>
            <div class="suscribe">
                <input type="text" name="subsEmail" placeholder="Ingrese el email...">
                <button>Subscribete</button>
            </div>
        </section>
        <section class="content">
            <div>
                <article id="article">
                    <h2>Servicios</h2>
                </article>
                <article class="articleGray">
                    <h2>Diseño Web</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda adipisci repudiandae enim
                        quos. Eligendi, rem odio delectus voluptatem et iure!</p>
                    <p>Precio : $300000 - $1000000</p>
                </article>
                <article class="articleGray">
                    <h2>Desarrollo Web</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda adipisci repudiandae enim
                        quos. Eligendi, rem odio delectus voluptatem et iure!</p>
                    <p>Precio desde : $1000000</p>
                </article>
                <article class="articleGray">
                    <h2>Hosting Web</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda adipisci repudiandae enim
                        quos. Eligendi, rem odio delectus voluptatem et iure!</p>
                    <p>Precio : $3000000</p>
                </article>
            </div>
            <aside class="articleBlack">
                <h3>QUE HACEMOS</h3>
                <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur cupiditate debitis
                    laborum, quos ad. Reprehenderit nesciunt libero ipsa repudiandae architecto quasi cumque eveniet
                    quisquam sunt, aperiam accusantium, eligendi obcaecati!</P>
            </aside>
        </section>
    </main>
    <footer>
        <p>
            Graphel Desarrolo Web, Copyright © 2017
        </p>
    </footer>
</body>

</html>